.welcomeText {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: 500;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .welcomeText {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}
